<div class="md-modal md-effect-1 colored-header" id="messageModal">
    <div class="md-content">
        <div class="modal-header">
            <div style="margin-top: -10px;">
                <h3>Tip</h3>
                <button type="button" class="close" aria-hidden="true" style="display: none;">&times;</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <h4></h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat" style="display: none">Cancel</button>
        </div>
    </div>
</div>